@charset "UTF-8";
*, p, h1, h2, h3 {
  margin: 0;
  padding: 0; }

body {
  line-height: normal;
  color: #223c61;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px; }

.no-pr {
  padding-right: 0; }

@media (min-width: 992px) {
  .no-pr-lg {
    padding-right: 0; } }

@media (min-width: 992px) {
  .no-pl-lg {
    padding-left: 0; } }

.no-m {
  margin: 0; }

.no-mr {
  margin-right: 0; }

.pointer {
  cursor: pointer; }

.grey-bg {
  background-color: #ecf1f4; }

.separator {
  border-right: solid 1px #ecf1f4;
  height: 40px; }

h1, h2, h3 {
  font-weight: 600;
  color: #223c61;
  text-align: center; }

h1 {
  font-size: 24px; }
  @media (max-width: 991.98px) {
    h1 {
      font-size: 18px; } }

h2 {
  font-size: 20px;
  line-height: 24px;
  margin: 40px 0 20px;
  text-align: left; }
  @media (max-width: 991.98px) {
    h2 {
      font-size: 18px;
      margin: 20px 0 10px; } }

h3 {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  margin: 40px 0 20px; }
  @media (max-width: 991.98px) {
    h3 {
      text-align: center;
      margin: 20px 0 20px; } }

p {
  font-size: 18px;
  color: #323232; }
  @media (max-width: 991.98px) {
    p {
      font-size: 14px; } }
  p.navy {
    color: #223c61; }
  p.white {
    color: #fff; }
  p.grey {
    color: #a9b6bc; }
  p.grey-dark {
    color: #565656; }
  p.grey-light {
    color: #cbd1d4; }
  p.intro {
    font-style: italic;
    color: #223c61; }
  p.xs {
    font-size: 12px;
    line-height: 15px; }
  p.sm {
    font-size: 14px; }
    @media (max-width: 991.98px) {
      p.sm {
        font-size: 12px; } }
  p.md {
    font-size: 16px; }
    @media (max-width: 991.98px) {
      p.md {
        font-size: 14px; } }
  p.lg {
    font-size: 22px; }
    @media (max-width: 991.98px) {
      p.lg {
        font-size: 18px; } }
  p.bold {
    font-weight: 600; }
  p.italic {
    font-style: italic; }

span {
  color: inherit;
  text-align: left; }

b {
  font-weight: 600; }

.grey-point {
  color: #cbd1d4;
  font-size: 10px;
  margin: 0 6px; }

.green-point {
  color: #97de53;
  font-size: 16px;
  margin-right: 6px; }

.yellow-point {
  color: #edc04f;
  font-size: 16px;
  margin-right: 6px; }

.input {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .input__field {
    border-radius: 3px;
    height: 60px;
    border: solid 1px #ecf1f4;
    width: 100%;
    padding: 0 20px;
    font-size: 18px; }
    @media (max-width: 991.98px) {
      .input__field {
        height: 43px;
        font-size: 16px; } }
    .input__field:focus {
      outline: none; }
    .input__field--icon {
      padding-left: 35px; }
  .input__icon {
    position: absolute;
    left: 10px;
    height: 20px; }
    @media (max-width: 991.98px) {
      .input__icon {
        height: 18px; } }
    .input__icon--search {
      height: 18px; }
      @media (max-width: 991.98px) {
        .input__icon--search {
          height: 16px; } }
  .input__example {
    font-size: 14px;
    margin-bottom: 5px; }
    @media (min-width: 992px) {
      .input__example {
        font-size: 16px;
        margin: 5px 0 15px 5px; } }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff; }

.select__icon {
  position: absolute;
  right: 20px;
  height: 10px; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cbd1d4;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cbd1d4; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cbd1d4; }

button {
  color: inherit;
  background-color: inherit; }
  button:focus {
    outline: none; }

.btn {
  border: none;
  padding: .5em 1em;
  height: 60px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  font-weight: 600; }
  @media (max-width: 991.98px) {
    .btn {
      height: 43px;
      padding: 0 1em; } }
  .btn.btn-primary {
    background-color: #00d3d4; }
    .btn.btn-primary:hover {
      background-color: #00c4c5; }
  .btn.btn-secondary {
    color: #223c61;
    background-color: transparent;
    border: 1px solid #223c61; }
    .btn.btn-secondary:hover {
      background-color: #1b254f1a; }
    .btn.btn-secondary--white {
      background-color: transparent;
      color: #fff;
      border-color: #fff;
      width: auto;
      padding: .5em 1em; }
    .btn.btn-secondary--no-border {
      border: none; }
    .btn.btn-secondary--xs {
      margin: auto;
      width: auto;
      padding: 0 1em;
      display: block;
      height: 30px;
      font-size: 14px;
      font-weight: 400; }
  .btn--sm {
    margin: auto;
    width: auto;
    padding: .5em 3em;
    display: block;
    height: 43px; }
  .btn--md {
    margin: auto;
    width: auto;
    padding: .5em 5em;
    display: block;
    height: 43px; }
    @media (max-width: 991.98px) {
      .btn--md {
        width: 100%; } }

ul {
  list-style-type: none;
  margin-bottom: 0; }
  @media (min-width: 992px) {
    ul {
      font-size: 18px; } }
  ul.black {
    color: black; }

.list__item:not(:last-child) {
  margin-bottom: 10px; }
  @media (min-width: 992px) {
    .list__item:not(:last-child) {
      margin-bottom: 15px; } }

.breadcrumb {
  padding: 15px 0 0 0;
  font-size: 16px;
  background-color: transparent;
  color: #cbd1d4; }
  @media (max-width: 991.98px) {
    .breadcrumb {
      font-size: 14px; } }
  .breadcrumb__item:not(:first-child):before {
    content: '>';
    margin: 0 5px; }

@media (max-width: 991.98px) {
  .accordeon {
    margin: 0 -15px; } }

.accordeon__section {
  border-top: 1px solid #cbd1d4; }
  .accordeon__section--active .accordeon__header {
    box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2); }
  .accordeon__section--active .accordeon__title {
    font-weight: 600; }

.accordeon__extra-p {
  padding: 0 80px; }
  @media (max-width: 991.98px) {
    .accordeon__extra-p {
      padding: 0 10px; } }

.accordeon__header {
  padding: 20px;
  position: relative; }
  @media (max-width: 991.98px) {
    .accordeon__header {
      padding: 10px; } }

.accordeon__title {
  font-size: 20px; }
  @media (max-width: 991.98px) {
    .accordeon__title {
      font-size: 18px; } }

.accordeon__body {
  background-color: #ecf1f4;
  padding: 30px; }
  @media (max-width: 991.98px) {
    .accordeon__body {
      padding: 20px; } }

.accordeon__opinion  {
  padding: 30px 100px; }

.accordeon__percent {
  position: relative;
  top: -10px; }

.filter {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.2), 0 2px 2px 0 rgba(50, 50, 50, 0.2);
  height: 40px;
  border-radius: 40px;
  padding: 0px 20px;
  font-size: 20px;
  margin-right: 20px;
  width: auto; }

.icon-xs {
  height: 5px; }

.icon-sm {
  height: 13px; }

.icon-md {
  height: 20px; }

.icon-lg {
  height: 40px; }

.datepicker {
  width: 100%;
  text-align: center; }
  .datepicker > .flex-column {
    flex-grow: 1; }
    .datepicker > .flex-column:not(:first-of-type) {
      background-image: linear-gradient(to bottom, #a9b6bc 20%, rgba(255, 255, 255, 0) 0%);
      background-position: left;
      background-size: 1px 5px;
      background-repeat: repeat-y; }
  .datepicker__day {
    padding: 10px 0;
    text-align: center;
    background-image: linear-gradient(to right, #a9b6bc 20%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x; }
    .datepicker__day--grey {
      color: #cbd1d4; }
  .datepicker__hour {
    border: solid 1px #223c61;
    padding: 8px 12px;
    margin: 5px 5px 0; }
    @media (max-width: 991.98px) {
      .datepicker__hour {
        color: #fff;
        border: none;
        background-color: #00d3d4; } }
    .datepicker__hour--active {
      background-color: #223c61;
      color: #fff; }

.tag {
  border-radius: 3px;
  padding: 4px 7px;
  background-color: #ecf1f4;
  margin-right: 3px;
  font-size: 16px; }
  @media (max-width: 991.98px) {
    .tag {
      font-size: 14px; } }
  .tag--avatar {
    background-color: #223c61;
    color: #fff;
    position: relative;
    top: -7px; }
  .tag--lg {
    padding: 5px 15px;
    margin: 0 10px 10px 0; }
    @media (max-width: 991.98px) {
      .tag--lg {
        padding: 4px 7px;
        margin: 0 5px 5px 0; } }
  .tag--blue {
    background-color: #223c61;
    color: #fff; }
  .tag--white {
    background-color: #fff; }
  .tag--gold {
    background-color: #e3ae42;
    color: #fff;
    display: inline-block; }
  .tag--border {
    background-color: #fff;
    border: 1px solid #223c61; }

.popin-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 60, 97, 0.7); }

.popin {
  position: relative;
  margin: auto;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.2), 0 2px 2px 0 rgba(50, 50, 50, 0.2);
  padding: 20px;
  margin-top: 100px;
  max-height: calc(100vh - 115px);
  overflow-y: scroll; }
  @media (max-width: 991.98px) {
    .popin {
      padding: 10px;
      margin-top: 15px;
      max-height: calc(100vh - 30px); } }
  .popin__close {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 20px; }

a {
  color: inherit;
  display: block; }
  a:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none; }
  a.navy {
    color: #223c61; }
  a.underlined {
    text-decoration: underline; }

.element-container {
  margin: 0 -10px;
  flex-wrap: wrap; }
  @media (max-width: 991.98px) {
    .element-container {
      margin: 0 -15px;
      padding: 0 10px;
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-x: scroll;
      flex-wrap: nowrap;
      padding: 0 10px; }
      .element-container:after {
        content: "";
        flex: 0 0 10px; } }
  @media (max-width: 991.98px) {
    .element-container--scroll-x {
      overflow-x: scroll;
      flex-wrap: nowrap;
      padding: 0 10px; }
      .element-container--scroll-x:after {
        content: "";
        flex: 0 0 10px; } }
  @media (min-width: 576px) and (max-width: 991.98px) {
    .element-container--scroll-x {
      flex-wrap: wrap; } }

.element {
  box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.2), 0 2px 2px 0 rgba(50, 50, 50, 0.2);
  border-radius: 3px;
  color: #223c61; }
  .element__problem {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.91), rgba(255, 255, 255, 0)), url("assets/imgs/media.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120px;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px; }
    @media (min-width: 992px) {
      .element__problem {
        padding: 10px;
        height: 190px;
        margin-bottom: 20px; } }
    .element__problem--thin {
      height: 100px; }
      @media (max-width: 991.98px) {
        .element__problem--thin {
          height: 70px; } }
    .element__problem__title {
      font-size: 16px;
      font-weight: 600; }
      @media (min-width: 992px) {
        .element__problem__title {
          font-size: 22px; } }
    .element__problem__action {
      text-align: right;
      color: #fff;
      font-size: 12px; }
      @media (min-width: 992px) {
        .element__problem__action {
          font-size: 16px; } }
      .element__problem__action__icon {
        margin-left: 3px; }
  @media (min-width: 575px) {
    .element__practice-container {
      flex: 0 0 25%;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px; } }
  @media (min-width: 575px) and (max-width: 992px) {
    .element__practice-container {
      padding: 0 5px;
      margin-bottom: 10px; } }
  @media (min-width: 575px) and (max-width: 768px) {
    .element__practice-container {
      flex: 0 0 50%; } }
  @media (max-width: 575px) {
    .element__practice-container {
      flex: 0 0 140px;
      margin: 5px; } }
  .element__practice__header {
    background-color: #fff;
    padding: 5px; }
    @media (min-width: 992px) {
      .element__practice__header {
        padding: 20px; } }
  .element__practice__type {
    font-size: 12px;
    line-height: 13px; }
    @media (min-width: 992px) {
      .element__practice__type {
        font-size: 16px;
        margin-bottom: 7px; } }
  .element__practice__title {
    font-size: 16px;
    font-weight: 600; }
    @media (min-width: 992px) {
      .element__practice__title {
        font-size: 20px; } }
  .element__practice__body {
    height: 130px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important; }
    @media (min-width: 992px) {
      .element__practice__body {
        height: 240px; } }
  .element__comment {
    height: 200px;
    padding: 10px;
    flex: 0 0 140px;
    margin: 5px;
    border-top: 3px solid #223c61; }
    @media (min-width: 992px) {
      .element__comment {
        flex: 0 0 170px; } }
    @media (min-width: 575px) and (max-width: 992px) {
      .element__comment {
        flex: 0 0 23%; } }
    .element__comment__person {
      font-size: 14px;
      font-weight: 600;
      line-height: 14px; }
      @media (min-width: 992px) {
        .element__comment__person {
          font-size: 16px; } }
    .element__comment__timeago {
      font-size: 12px;
      color: #a9b6bc;
      margin-bottom: 10px; }
      @media (min-width: 992px) {
        .element__comment__timeago {
          font-size: 14px; } }
    .element__comment__text {
      font-size: 14px;
      font-style: italic;
      line-height: 15px; }
      @media (min-width: 992px) {
        .element__comment__text {
          font-size: 16px;
          line-height: 22px; } }
  .element__card {
    height: 160px;
    padding: 10px;
    flex: 0 0 175px;
    margin: 10px; }
    @media (max-width: 991.98px) {
      .element__card {
        height: 125px;
        flex: 0 0 140px;
        flex-wrap: nowrap;
        margin: 5px; } }
    .element__card__header {
      padding: 10px;
      background-color: #223c61;
      color: #fff; }
    .element__card__title {
      font-size: 20px; }
      @media (max-width: 991.98px) {
        .element__card__title {
          font-size: 18px;
          line-height: 1.22; } }
    .element__card__body {
      padding: 10px; }
    .element__card__like {
      font-size: 16px;
      color: #a9b6bc; }
      @media (max-width: 991.98px) {
        .element__card__like {
          font-size: 14px; } }
    .element__card__text {
      text-align: left; }
      @media (max-width: 991.98px) {
        .element__card__text {
          font-size: 16px; } }
    .element__card--blueHeader {
      padding: 0;
      overflow: hidden;
      height: 220px; }

.shadow {
  box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2); }

.card {
  box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.2), 0 2px 2px 0 rgba(50, 50, 50, 0.2);
  margin-bottom: 15px; }
  .card__header {
    padding: 10px 20px;
    background-color: #f2fbfb; }
  .card__body {
    padding: 15px; }
  .card__name {
    color: #223c61;
    font-weight: 600; }
    @media (max-width: 991.98px) {
      .card__name {
        font-size: 16px; } }
  .card__practic {
    color: #cbd1d4;
    font-size: 14px; }
    @media (min-width: 992px) {
      .card__practic {
        font-size: 16px; } }
  @media (max-width: 991.98px) {
    .card__footer {
      font-size: 16px; } }
  .card__link {
    background-image: linear-gradient(to right, #00d3d4 20%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    padding: 15px;
    background-color: #f2fbfb; }
    .card__link__text {
      font-size: 16px;
      color: #223c61; }
      @media (max-width: 991.98px) {
        .card__link__text {
          font-size: 14px; } }
    .card__link__icon {
      height: 10px; }
      @media (min-width: 992px) {
        .card__link__icon {
          height: 20px; } }
  .card--map {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    margin-bottom: 0; }

.avatar__img {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  background-image: url("assets/imgs/avatar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .avatar__img--sm {
    width: 40px;
    height: 40px; }
  .avatar__img--lg {
    width: 174px;
    height: 174px; }
    @media (max-width: 991.98px) {
      .avatar__img--lg {
        width: 90px;
        height: 90px; } }

.place-card {
  box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.2), 0 2px 2px 0 rgba(50, 50, 50, 0.2);
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 5px; }
  .place-card__container {
    display: flex;
    flex-direction: row; }
    @media (max-width: 991.98px) {
      .place-card__container {
        flex-direction: column; } }
  .place-card__map {
    width: 160px;
    height: 190px; }
    @media (max-width: 991.98px) {
      .place-card__map {
        width: 100%;
        height: 80px; } }
  .place-card__title {
    font-size: 18px !important; }
  .place-card__text {
    font-size: 18px; }
    @media (max-width: 991.98px) {
      .place-card__text {
        font-size: 16px; } }
  .place-card__info {
    padding: 15px;
    flex-grow: 1; }
    @media (max-width: 991.98px) {
      .place-card__info {
        padding: 10px; } }
    .place-card__info__icon {
      flex-basis: 30px; }

.header {
  padding: 10px 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }
  .header__logo {
    height: 33px; }
  .header__menu-btn {
    z-index: 1; }
  .header__icon__menu {
    margin-top: 2px;
    margin-bottom: 2px; }
  .header__icon__account {
    margin-bottom: -2px; }
  .header__menu {
    position: relative;
    top: 0px;
    background-color: white; }
    .header__menu:before {
      content: '';
      width: 55px;
      height: 60px;
      background-color: #fff;
      position: absolute;
      top: -57px;
      box-shadow: 5px 0px 4px -4px rgba(0, 0, 0, 0.2); }
    .header__menu__list {
      padding-left: 10px; }
  .header__desktop {
    padding: 10px 0; }
    .header__desktop__logo {
      width: 200px;
      margin-right: 30px; }
    .header__desktop__menu {
      position: relative;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .header__desktop__menu__item {
        margin-right: 40px; }
      .header__desktop__menu__btn {
        padding: .5em 1em;
        height: auto;
        font-weight: 400 !important; }
      .header__desktop__menu__acount {
        background-color: #fff;
        color: #223c61;
        padding: 30px;
        position: absolute;
        top: 65px;
        right: 0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }
        .header__desktop__menu__acount:before {
          content: '';
          position: absolute;
          right: 25px;
          height: 0px;
          top: -20px;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid #fff; }
        .header__desktop__menu__acount .list {
          font-size: 16px; }

.footer__consultations {
  background-color: #223c61;
  color: #fff; }
  .footer__consultations .list {
    font-size: 16px; }
    @media (max-width: 991.98px) {
      .footer__consultations .list {
        font-size: 14px; } }

.homepage__landing {
  height: 180px;
  background-image: url("assets/imgs/landing.jpg");
  background-size: cover; }
  .homepage__landing__desktop {
    height: 620px;
    background-image: url("assets/imgs/landing.jpg");
    background-size: cover;
    color: #fff; }
  .homepage__landing__hook {
    text-align: center;
    font-weight: 600;
    color: #fff;
    margin-top: 50px;
    font-size: 16px; }
    .homepage__landing__hook--desktop {
      font-size: 36px;
      margin-top: 125px; }
    .homepage__landing__hook__underlined {
      position: relative;
      z-index: 0; }
      .homepage__landing__hook__underlined:after {
        content: '';
        display: inline-block;
        width: 66px;
        border-bottom: 5px solid #00d3d4;
        transform: rotate(-2deg);
        position: absolute;
        left: 0px;
        top: 14px;
        z-index: -1;
        border-radius: 3px; }
      .homepage__landing__hook__underlined--desktop:after {
        left: -2px;
        width: 155px;
        top: 26px;
        border-bottom: 15px solid #00d3d4; }

.homepage__search {
  margin-top: 90px; }
  @media (max-width: 991.98px) {
    .homepage__search {
      background-color: white;
      overflow: hidden;
      position: relative;
      top: -60px;
      border-radius: 3px;
      margin: 0;
      padding: 15px 0;
      box-shadow: 0 10px 20px 0 rgba(50, 50, 50, 0.1);
      margin-bottom: -30px; } }
  .homepage__search__background {
    background-image: url("assets/imgs/landing.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center -96px;
    margin: -40px -21px 0 -17px;
    max-width: unset;
    filter: blur(10px);
    position: absolute;
    height: 81px;
    top: 0;
    left: 0;
    right: 0; }
  .homepage__search__form {
    filter: blur(0px); }
  @media (min-width: 992px) {
    .homepage__search__input {
      flex-grow: 1; } }
  @media (min-width: 992px) {
    .homepage__search__input__field {
      height: 70px;
      font-size: 20px; }
      .homepage__search__input__field__practice {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .homepage__search__input__field__place {
        border-radius: 0; } }
  @media (min-width: 992px) {
    .homepage__search__btn {
      height: 70px;
      width: 200px;
      padding: 0 35px;
      font-size: 20px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; } }
  .homepage__search__example {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

@media (min-width: 992px) {
  .homepage__points {
    padding: 40px;
    box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.1);
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    top: -70px;
    margin-bottom: -70px;
    overflow: hidden;
    max-width: 767px; }
    .homepage__points__background {
      background-image: url("assets/imgs/landing.jpg");
      background-repeat: no-repeat;
      background-size: 140%;
      background-position: center -550px;
      margin: -10px -50px;
      max-width: unset;
      filter: blur(30px);
      position: absolute;
      height: 70px;
      top: 0;
      left: 0;
      right: 0;
      opacity: .4; } }

.homepage__point {
  padding: 0 20px; }
  .homepage__point__img {
    margin-bottom: 3px; }
    @media (max-width: 991.98px) {
      .homepage__point__img {
        height: 32px; } }
    @media (min-width: 992px) {
      .homepage__point__img {
        margin-bottom: 15px; } }

.homepage__title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px; }
  @media (min-width: 992px) {
    .homepage__title {
      font-size: 28px;
      margin-top: 80px;
      margin-bottom: 40px; } }

.homepage__problematic .col-lg-3 {
  padding-left: 10px;
  padding-right: 10px; }

@media (max-width: 991.98px) {
  .homepage__problematic.row {
    margin-right: -10px;
    margin-left: -10px; }
  .homepage__problematic .col-6 {
    padding-left: 5px;
    padding-right: 5px; } }

@media (min-width: 575px) {
  .homepage__opinions {
    justify-content: center; } }

.homepage__discover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .homepage__discover__text {
    color: #223c61;
    text-decoration: underline;
    font-weight: 600; }
    @media (min-width: 992px) {
      .homepage__discover__text {
        font-size: 18px; } }

.homepage__referenced {
  background-color: #f5ead4; }
  .homepage__referenced__title {
    font-size: 16px;
    margin: 0; }
    @media (min-width: 992px) {
      .homepage__referenced__title {
        margin: 20px 0 5px;
        font-size: 20px; } }
  .homepage__referenced__text {
    font-size: 14px; }
    @media (min-width: 992px) {
      .homepage__referenced__text {
        font-size: 18px; } }
  @media (min-width: 992px) {
    .homepage__referenced__btn {
      width: 400px;
      margin: auto;
      display: block; } }

.homepage__media__videoWrapper {
  position: relative;
  padding-bottom: 53%;
  padding-top: 25px;
  height: 0; }

.homepage__media__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.homepage__media__img {
  max-height: 40px; }
  .homepage__media__img:nth-child(1) {
    max-height: 20px; }
  .homepage__media__img:nth-child(2) {
    max-height: 30px; }
  .homepage__media__img:nth-child(3) {
    max-height: 35px; }
  .homepage__media__img:nth-child(4) {
    max-height: 20px; }
  @media (min-width: 992px) {
    .homepage__media__img {
      max-height: 50px; }
      .homepage__media__img:nth-child(1) {
        max-height: 30px; }
      .homepage__media__img:nth-child(2) {
        max-height: 40px; }
      .homepage__media__img:nth-child(3) {
        max-height: 45px; }
      .homepage__media__img:nth-child(4) {
        max-height: 30px; } }

@media (min-width: 992px) {
  .homepage__media__btn {
    width: 400px;
    margin: auto;
    display: block; } }

.homepage__newsletter {
  background-color: #ecf1f4;
  margin: 0 -15px; }

.homepage__contact__phone {
  height: 24px; }

.media {
  display: block; }
  .media__rdv {
    background-color: #f2fbfb; }
    @media (max-width: 991.98px) {
      .media__rdv {
        margin: 0; } }
    @media (max-width: 991.98px) {
      .media__rdv__input {
        margin-bottom: 10px; } }
    @media (min-width: 992px) {
      .media__rdv__input__place {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; } }
    @media (min-width: 992px) {
      .media__rdv__btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; } }
    .media__rdv--fixed {
      width: 375px;
      position: fixed;
      margin-top: 75px; }
    .media__rdv__safe {
      margin: 40px 80px; }
      @media (max-width: 991.98px) {
        .media__rdv__safe {
          margin: 30px 0; } }
    .media__rdv__text {
      font-size: 16px; }
      @media (max-width: 991.98px) {
        .media__rdv__text {
          font-size: 14px; } }

.results__search {
  background-color: #ecf1f4; }
  @media (max-width: 991.98px) {
    .results__search {
      height: 100px;
      overflow-y: hidden; } }
  @media (max-width: 991.98px) {
    .results__search--open {
      box-shadow: 0 2px 18px 0 rgba(50, 50, 50, 0.2);
      height: auto; } }
  .results__search__btn {
    padding: 0 17px;
    font-size: 18px; }
    @media (min-width: 992px) {
      .results__search__btn {
        height: 70px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; } }

.results__filters__col {
  flex-basis: 50%; }

.results__paging__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  border-radius: 2px;
  height: 50px;
  font-size: 18px;
  background-color: #ecf1f4;
  margin-right: 15px; }
  .results__paging__btn--active {
    background-color: #fff;
    border: solid 1px #223c61; }
  @media (max-width: 991.98px) {
    .results__paging__btn {
      font-size: 16px;
      padding: 0 13px;
      height: 35px;
      margin-right: 10px; } }

.results__list {
  font-size: 18px; }
  @media (max-width: 991.98px) {
    .results__list {
      font-size: 16px; } }
  .results__list__title {
    font-weight: 600;
    color: #223c61;
    font-size: 18px; }
    @media (max-width: 991.98px) {
      .results__list__title {
        font-size: 16px; } }
  .results__list__item {
    margin-bottom: 7px;
    cursor: pointer; }
    .results__list__item:before {
      content: '-';
      float: left;
      margin-right: 5px; }

.results__popin__title {
  font-size: 20px; }
  @media (max-width: 991.98px) {
    .results__popin__title {
      font-size: 18px; } }

.results__popin__hr {
  margin: 10px -10px 0 -10px; }

.results__popin__category {
  margin: 0px -10px;
  padding: 10px;
  z-index: 1;
  position: relative;
  border-bottom: 1px solid #ecf1f4; }
  .results__popin__category--open {
    box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2); }
  .results__popin__category__title {
    color: #223c61;
    font-size: 22px; }
    @media (max-width: 991.98px) {
      .results__popin__category__title {
        font-size: 16px; } }
    .results__popin__category__title--open {
      font-weight: 600; }

@media (max-width: 991.98px) {
  .results__popin__criteria-container {
    background-color: #f2fbfb;
    padding: 20px; }
    .results__popin__criteria-container .col-4 {
      padding-right: 0;
      padding-left: 0; } }

.results__popin__criteria {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 23px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .results__popin__criteria__input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
    .results__popin__criteria__input:checked ~ .results__popin__checkbox__img {
      display: block; }
    .results__popin__criteria__input:checked ~ .results__popin__check__text {
      font-weight: 600; }

.results__popin__checkbox {
  height: 25px;
  width: 25px;
  border: 1px solid #223c61;
  border-radius: 2px;
  margin-right: 5px; }
  @media (max-width: 991.98px) {
    .results__popin__checkbox {
      height: 15px;
      width: 15px; } }
  .results__popin__checkbox__img {
    position: absolute;
    left: 1px;
    top: -4px;
    display: none; }
    @media (max-width: 991.98px) {
      .results__popin__checkbox__img {
        width: 18px;
        top: -2px; } }

.results__map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .results__map__filters-container {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0; }
  .results__map__filters {
    margin: auto;
    width: 250px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.2), 0 2px 2px 0 rgba(50, 50, 50, 0.2); }

.therapist__card {
  background-color: #ecf1f4; }
  .therapist__card__place-icon {
    height: 15px;
    margin-top: 3px; }
  .therapist__card__extra-container {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media (max-width: 991.98px) {
      .therapist__card__extra-container {
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: start;
        margin: 0 -15px;
        padding: 0 5px; }
        .therapist__card__extra-container:after {
          content: "";
          flex: 0 0 5px; } }
  .therapist__card__extra {
    flex: 0 0 370px;
    margin: 0 10px 40px; }
    @media (max-width: 991.98px) {
      .therapist__card__extra {
        flex: 0 0 290px;
        margin: 0 5px 40px; } }
    .therapist__card__extra__body {
      padding: 10px 20px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      @media (max-width: 991.98px) {
        .therapist__card__extra__body {
          height: 135px; } }

.therapist__publics {
  color: #a9b6bc;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #a9b6bc;
  width: 150px;
  padding-bottom: 20px;
  margin: 60px auto 20px; }
  @media (max-width: 991.98px) {
    .therapist__publics {
      padding-bottom: 10px;
      margin: 10px auto 20px;
      font-size: 16px;
      width: 100px; } }

@media (max-width: 991.98px) {
  .therapist__practical__left {
    margin-bottom: 15px; } }

.therapist__practical__right {
  justify-content: flex-end; }

.therapist__practical__left, .therapist__practical__right {
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media (max-width: 991.98px) {
    .therapist__practical__left, .therapist__practical__right {
      justify-content: center; } }

.therapist__time {
  border-left: 1px solid #ecf1f4;
  padding-left: 8px;
  margin-left: 12px; }
  .therapist__time__icon {
    width: 20px; }

.therapist__slider__img {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  border-radius: 3px; }
  @media (max-width: 991.98px) {
    .therapist__slider__img {
      height: 190px;
      margin-right: 10px; } }

.therapist .tns-outer {
  position: relative; }
  @media (max-width: 991.98px) {
    .therapist .tns-outer {
      margin: 0 -15px;
      display: flex;
      flex-direction: column-reverse; } }

.therapist .tns-controls {
  position: absolute;
  top: calc(50% - 25px);
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px; }
  .therapist .tns-controls button {
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
    background-color: transparent;
    border: none;
    background-position: 50% 50%;
    width: 50px;
    height: 50px; }
    .therapist .tns-controls button:first-child {
      background-image: url("assets/icons/desktop/prev.svg"); }
    .therapist .tns-controls button:nth-child(2) {
      background-image: url("assets/icons/desktop/next.svg"); }
    .therapist .tns-controls button:disabled {
      opacity: .5; }

.therapist .tns-nav {
  text-align: center; }
  .therapist .tns-nav button {
    border: 1px solid #223c61;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #fff;
    margin: 0 2px; }
    .therapist .tns-nav button.tns-nav-active {
      background-color: #223c61; }

.therapist__seeMore {
  position: relative;
  top: -100px;
  height: 100px;
  margin-bottom: -100px;
  background-image: linear-gradient(transparent, #fff); }
  .therapist__seeMore--accordeon {
    background-image: linear-gradient(transparent, #ecf1f4);
    top: -80px;
    height: 65px;
    margin-bottom: -65px; }

.therapist__rdv {
  overflow: hidden;
  position: fixed;
  width: 30%;
  top: 10px;
  background-color: #fff;
  z-index: 1; }
  @media (max-width: 991.98px) {
    .therapist__rdv {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 15px;
      overflow-y: scroll; } }
  .therapist__rdv__header {
    background-color: #223c61; }
    @media (max-width: 991.98px) {
      .therapist__rdv__header {
        color: #223c61;
        background-color: #fff; } }
  .therapist__rdv__body {
    overflow-y: scroll;
    max-height: calc(100vh - (10px + 76px + 10px)); }
    @media (max-width: 991.98px) {
      .therapist__rdv__body {
        max-height: unset; } }
  @media (max-width: 991.98px) {
    .therapist__rdv__step {
      width: 30px;
      height: 30px;
      background-color: #ecf1f4;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .therapist__rdv__step:not(:last-child) {
        margin-right: 35px; }
        .therapist__rdv__step:not(:last-child):after {
          content: '';
          border-bottom: 2px solid #223c61;
          width: 35px;
          position: absolute;
          right: -35px;
          top: 14px; }
        .therapist__rdv__step:not(:last-child).therapist__rdv__step--active:after {
          top: 12px;
          width: 37px;
          right: -37px; }
      .therapist__rdv__step--active {
        border: 2px solid #223c61;
        background-color: #fff; }
    .therapist__rdv__icon {
      width: 30px;
      text-align: center; }
    .therapist__rdv__input {
      margin-left: 30px; } }
