.homepage {
  &__landing {
    height: 180px;
    background-image: url("assets/imgs/landing.jpg");
    background-size: cover;

    &__desktop {
      height: 620px;
      background-image: url("assets/imgs/landing.jpg");
      background-size: cover;
      color: $white;
    }

    &__hook {
      text-align: center;
      font-weight: $semi-bold;
      color: $white;
      margin-top: 50px;
      font-size: 16px;

      &--desktop {
        font-size: 36px;
        margin-top: 125px;
      }

      &__underlined {
        position: relative;
        z-index: 0;

        &:after {
          content: '';
          display: inline-block;
          width: 66px;
          border-bottom: 5px solid $turquoise;
          transform: rotate(-2deg);
          position: absolute;
          left: 0px;
          top: 14px;
          z-index: -1;
          border-radius: 3px;
        }

        &--desktop:after {
          left: -2px;
          width: 155px;
          top: 26px;
          border-bottom: 15px solid $turquoise;
        }
      }
    }
  }

  &__search {
    margin-top: 90px;

    @media (max-width: 991.98px) {
      background-color: white;
      overflow: hidden;
      position: relative;
      top: -60px;
      border-radius: 3px;
      margin: 0;
      padding: 15px 0;
      box-shadow: 0 10px 20px 0 rgba(50, 50, 50, 0.1);
      margin-bottom: -30px;
    }

    &__background {
      background-image: url("assets/imgs/landing.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center -96px;
      margin: -40px -21px 0 -17px;
      max-width: unset;
      filter: blur(10px);
      position: absolute;
      height: 81px;
      top: 0;
      left: 0;
      right: 0;
    }

    &__form {
      filter: blur(0px);
    }

    &__input {
      @media (min-width: 992px) {
        flex-grow: 1;
      }

      &__field {
        @media (min-width: 992px) {
          height: 70px;
          font-size: 20px;

          &__practice {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          &__place {
            border-radius: 0;
          }
        }
      }
    }

    &__btn {
      @media (min-width: 992px) {
        height: 70px;
        width: 200px;
        padding: 0 35px;
        font-size: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &__example {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

  &__points {
    @media (min-width: 992px) {
      padding: 40px;
      box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.1);
      background-color: $white;
      border-radius: 3px;
      position: relative;
      top: -70px;
      margin-bottom: -70px;
      overflow: hidden;
      max-width: 767px;

      &__background {
        background-image: url("assets/imgs/landing.jpg");
        background-repeat: no-repeat;
        background-size: 140%;
        background-position: center -550px;
        margin: -10px -50px;
        max-width: unset;
        filter: blur(30px);
        position: absolute;
        height: 70px;
        top: 0;
        left: 0;
        right: 0;
        opacity: .4;
      }
    }
  }

  &__point {
    padding: 0 20px;

    &__img {
      margin-bottom: 3px;

      @media (max-width: 991.98px) {
        height: 32px;
      }

      @media (min-width: 992px) {
        margin-bottom: 15px;
      }
    }
  }

  &__title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;

    @media (min-width: 992px) {
      font-size: 28px;
      margin-top: 80px;
      margin-bottom: 40px;
    }
  }

  &__problematic {
    .col-lg-3 {
      padding-left: 10px;
      padding-right: 10px;
    }

    @media (max-width: 991.98px) {
      &.row {
        margin-right: -10px;
        margin-left: -10px;
      }

      .col-6 {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  &__opinions {
    @media (min-width: 575px) {
      justify-content: center;
    }
  }

  &__discover {
    display: flex;
    flex-direction: row;
		align-items: center;
		justify-content: center;

		&__text {
			color: $navy;
			text-decoration: underline;
			font-weight: $semi-bold;
			@media (min-width: 992px) {
				font-size: 18px;
			}
		}
  }

  &__referenced {
    background-color: $champagne;

    &__title {
      font-size: 16px;
      margin: 0;

      @media (min-width: 992px) {
        margin: 20px 0 5px;
        font-size: 20px;
      }
    }

    &__text {
      font-size: 14px;

      @media (min-width: 992px) {
        font-size: 18px;
      }
    }

    &__btn {
      @media (min-width: 992px) {
        width: 400px;
        margin: auto;
        display: block;
      }
    }
  }

  &__media {
    &__videoWrapper {
      position: relative;
      padding-bottom: 53%;
      padding-top: 25px;
      height: 0;
    }

    &__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__img {
      max-height: 40px;

      &:nth-child(1) {
        max-height: 20px;
      }

      &:nth-child(2) {
        max-height: 30px;
      }

      &:nth-child(3) {
        max-height: 35px;
      }

      &:nth-child(4) {
        max-height: 20px;
      }

      @media (min-width: 992px) {
        max-height: 50px;

        &:nth-child(1) {
          max-height: 30px;
        }

        &:nth-child(2) {
          max-height: 40px;
        }

        &:nth-child(3) {
          max-height: 45px;
        }

        &:nth-child(4) {
          max-height: 30px;
        }
      }
    }

    &__btn {
      @media (min-width: 992px) {
        width: 400px;
        margin: auto;
        display: block;
      }
    }
  }

  &__newsletter {
    background-color: $blue-light;
    margin: 0 -15px;
  }

  &__contact {
    &__phone {
      height: 24px;
    }
  }
}
