.media {
	display: block; // overwrite bootstrap "media" class

  &__rdv {
    background-color: $turquoise-light;

    @media (max-width: 991.98px) {
      margin: 0;
    }

    &__input {
      @media (max-width: 991.98px) {
        margin-bottom: 10px;
      }

      &__place {
        @media (min-width: 992px) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
		}
		
		&__btn {
			@media (min-width: 992px) {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

    &--fixed {
      width: 375px;
      position: fixed;
      margin-top: 75px;
    }

    &__safe {
      margin: 40px 80px;

      @media (max-width: 991.98px) {
        margin: 30px 0;
      }
    }

    &__text {
      font-size: 16px;

      @media (max-width: 991.98px) {
        font-size: 14px;
      }
    }
  }
}
