.results {
  &__search {
    background-color: $blue-light;

    @media (max-width: 991.98px) {
      height: 100px;
      overflow-y: hidden;
    }

    &--open {
      @media (max-width: 991.98px) {
        box-shadow: 0 2px 18px 0 rgba(50, 50, 50, 0.2);
        height: auto;
      }
    }

    &__btn {
      padding: 0 17px;
      font-size: 18px;
      
      @media (min-width: 992px) {
				height: 70px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &__filters {
    &__col {
      flex-basis: 50%;
    }
  }

  &__paging {
    &__btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 20px;
      border-radius: 2px;
      height: 50px;
      font-size: 18px;
      background-color: $blue-light;
      margin-right: 15px;

      &--active {
        background-color: $white;
        border: solid 1px $navy;
      }

      @media (max-width: 991.98px) {
        font-size: 16px;
        padding: 0 13px;
        height: 35px;
        margin-right: 10px;
      }
    }
  }

  &__list {
    font-size: 18px;

    @media (max-width: 991.98px) {
      font-size: 16px;
    }

    &__title {
      font-weight: $semi-bold;
      color: $navy;
      font-size: 18px;

      @media (max-width: 991.98px) {
        font-size: 16px;
      }
    }

    &__item {
			margin-bottom: 7px;
			cursor: pointer;
			
			&:before {
				content:'-';
				float: left;
				margin-right: 5px;
			}
    }
  }

  &__popin {
    &__title {
      font-size: 20px;

      @media (max-width: 991.98px) {
        font-size: 18px;
      }
    }

    &__hr {
      margin: 10px -10px 0 -10px;
    }

    &__category {
      margin: 0px -10px;
      padding: 10px;
      z-index: 1;
      position: relative;
      border-bottom: 1px solid $blue-light;

      &--open {
        box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2);
      }

      &__title {
        color: $navy;
        font-size: 22px;

        @media (max-width: 991.98px) {
          font-size: 16px;
        }

        &--open {
          font-weight: $semi-bold;
        }
      }
    }

    &__criteria-container {
      @media (max-width: 991.98px) {
        background-color: $turquoise-light;
        padding: 20px;

        .col-4 {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }

    &__criteria {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      margin-bottom: 23px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked {
          & ~ .results__popin__checkbox__img {
            display: block;
          }

          & ~ .results__popin__check__text {
            font-weight: $semi-bold;
          }
        }
      }
    }

    &__checkbox {
      height: 25px;
      width: 25px;
      border: 1px solid $navy;
      border-radius: 2px;
      margin-right: 5px;

      @media (max-width: 991.98px) {
        height: 15px;
        width: 15px;
      }

      &__img {
        position: absolute;
        left: 1px;
        top: -4px;
				display: none;

				@media (max-width: 991.98px) {
					width: 18px;
					top: -2px;
				}
      }
    }
  }

  &__map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &__filters-container {
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
    }

    &__filters {
      margin: auto;
      width: 250px;
      background-color: $white;
      border-radius: 40px;
      box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.2), 0 2px 2px 0 rgba(50, 50, 50, 0.2);
    }
  }
}
