.therapist {
  &__card {
    background-color: $blue-light;

    &__place-icon {
      height: 15px;
      margin-top: 3px;
    }

    &__extra-container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      @media (max-width: 991.98px) {
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: start;
        margin: 0 -15px;
        padding: 0 5px;

        // fix nowrap flexbox elements right padding
        &:after {
          content: "";
          flex: 0 0 5px;
        }
      }
    }

    &__extra {
      flex: 0 0 370px;
      margin: 0 10px 40px;

      @media (max-width: 991.98px) {
        flex: 0 0 290px;
        margin: 0 5px 40px;
      }

      &__body {
        padding: 10px 20px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 991.98px) {
          height: 135px;
        }
      }
    }
  }

  &__publics {
    color: $grey;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid $grey;
    width: 150px;
    padding-bottom: 20px;
    margin: 60px auto 20px;

    @media (max-width: 991.98px) {
      padding-bottom: 10px;
      margin: 10px auto 20px;
      font-size: 16px;
      width: 100px;
    }
  }

  &__practical__left {
    @media (max-width: 991.98px) {
      margin-bottom: 15px;
    }
  }

  &__practical__right {
    justify-content: flex-end;
  }

  &__practical__left,
  &__practical__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 991.98px) {
      justify-content: center;
    }
  }

  &__time {
    border-left: 1px solid $blue-light;
    padding-left: 8px;
    margin-left: 12px;

    &__icon {
      width: 20px;
    }
  }

  // SLIDER
  &__slider {
    &__img {
      height: 250px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      border-radius: 3px;

      @media (max-width: 991.98px) {
        height: 190px;
        margin-right: 10px;

        // &:first-child {
        // 	margin-left: 10px;
        // }
      }
    }
  }

  .tns-outer {
    position: relative;

    @media (max-width: 991.98px) {
      margin: 0 -15px;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .tns-controls {
    position: absolute;
    top: calc(50% - 25px);
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    button {
      background-size: cover;
      background-repeat: no-repeat;
      color: transparent;
      background-color: transparent;
      border: none;
      background-position: 50% 50%;
      width: 50px;
      height: 50px;

      &:first-child {
        background-image: url("assets/icons/desktop/prev.svg");
      }

      &:nth-child(2) {
        background-image: url("assets/icons/desktop/next.svg");
      }

      &:disabled {
        opacity: .5;
      }
    }
  }

  .tns-nav {
    text-align: center;

    button {
      border: 1px solid $navy;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: $white;
      margin: 0 2px;

      &.tns-nav-active {
        background-color: $navy;
      }
    }
  }

  &__seeMore {
    position: relative;
    top: -100px;
    height: 100px;
    margin-bottom: -100px;
    background-image: linear-gradient(transparent, $white);

    &--accordeon {
      background-image: linear-gradient(transparent, $blue-light);
      top: -80px;
      height: 65px;
      margin-bottom: -65px;
    }
  }

  &__rdv {
    overflow: hidden;
    position: fixed;
    width: 30%;
    top: 10px;
    background-color: $white;
    z-index: 1;

    @media (max-width: 991.98px) {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 15px;
      overflow-y: scroll;
    }

    &__header {
      background-color: $navy;

      @media (max-width: 991.98px) {
        color: $navy;
        background-color: $white;
      }
    }

    &__body {
      overflow-y: scroll;
      max-height: calc(100vh - (10px + 76px + 10px)); // sreen height - (top position + header rdv block height + margin bottom)

      @media (max-width: 991.98px) {
        max-height: unset;
      }
    }

    // Only Mobile
    @media (max-width: 991.98px) {
      &__step {
        width: 30px;
        height: 30px;
        background-color: $blue-light;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:not(:last-child) {
          margin-right: 35px;

          &:after {
            content: '';
            border-bottom: 2px solid $navy;
            width: 35px;
            position: absolute;
            right: -35px;
            top: 14px;
          }

          &.therapist__rdv__step--active {
            &:after {
              top: 12px;
              width: 37px;
              right: -37px;
            }
          }
        }

        &--active {
          border: 2px solid $navy;
          background-color: $white;
        }
      }

      &__icon {
        width: 30px;
        text-align: center;
      }

			&__input {
				margin-left: 30px;
			}
    }
  }
}
