*, p, h1, h2, h3 {
  margin: 0; // overwrite bootstrap margins and paddings
  padding: 0;
}

body {
  line-height: normal;
  color: $navy;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

//UTILITIES

.no-pr {
  padding-right: 0;
}

.no-pr-lg {
  @media (min-width: 992px) {
    padding-right: 0;
  }
}

.no-pl-lg {
  @media (min-width: 992px) {
    padding-left: 0;
  }
}

.no-m {
  margin: 0;
}

.no-mr {
  margin-right: 0;
}

.pointer {
  cursor: pointer;
}

.grey-bg {
  background-color: $blue-light;
}

.separator {
  border-right: solid 1px $blue-light;
  height: 40px;
}

// FONTS
h1, h2, h3 {
  font-weight: $semi-bold;
  color: $navy;
  text-align: center;
}

h1 {
  font-size: 24px;

  @media (max-width: 991.98px) {
    font-size: 18px;
  }
}

h2 {
  font-size: 20px;
  line-height: 24px;
  margin: 40px 0 20px;
  text-align: left;

  @media (max-width: 991.98px) {
    font-size: 18px;
    margin: 20px 0 10px;
  }
}

h3 {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  margin: 40px 0 20px;

  @media (max-width: 991.98px) {
    text-align: center;
    margin: 20px 0 20px;
  }
}

p {
  font-size: 18px;
  color: $anthracite;

  @media (max-width: 991.98px) {
    font-size: 14px;
  }

  &.navy {
    color: $navy;
  }

  &.white {
    color: $white;
  }

  &.grey {
    color: $grey;
  }

  &.grey-dark {
    color: $grey-dark;
  }

  &.grey-light {
    color: $grey-light;
  }

  &.intro {
    font-style: italic;
    color: $navy;
  }

  &.xs {
    font-size: 12px;
    line-height: 15px;
  }

  &.sm {
    font-size: 14px;

    @media (max-width: 991.98px) {
      font-size: 12px;
    }
  }

  &.md {
    font-size: 16px;

    @media (max-width: 991.98px) {
      font-size: 14px;
    }
  }

  &.lg {
    font-size: 22px;

    @media (max-width: 991.98px) {
      font-size: 18px;
    }
  }

  &.bold {
    font-weight: $semi-bold;
  }

  &.italic {
    font-style: italic;
  }
}

span {
  color: inherit;
  text-align: left;
}

b {
  font-weight: $semi-bold;
}

@mixin point($color, $size) {
  color: $color;
  font-size: $size;
}

.grey-point {
  @include point($grey-light, 10px);

  margin: 0 6px;
}

.green-point {
  @include point($green, 16px);

  margin-right: 6px;
}

.yellow-point {
  @include point($yellow, 16px);

  margin-right: 6px;
}

// FORMS
.input {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__field {
    border-radius: 3px;
    height: 60px;
    border: solid 1px $blue-light;
    width: 100%;
    padding: 0 20px;
    font-size: 18px;

    @media (max-width: 991.98px) {
      height: 43px;
      font-size: 16px;
    }

    &:focus {
      outline: none;
    }

    &--icon {
      padding-left: 35px;
    }
  }

  &__icon {
    position: absolute;
    left: 10px;
    height: 20px;

    @media (max-width: 991.98px) {
      height: 18px;
    }

    &--search {
      height: 18px;

      @media (max-width: 991.98px) {
        height: 16px;
      }
    }
  }

  &__example {
    font-size: 14px;
    margin-bottom: 5px;

    @media (min-width: 992px) {
      font-size: 16px;
      margin: 5px 0 15px 5px;
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: $white;
}

.select {
  &__icon {
    position: absolute;
    right: 20px;
    height: 10px;
  }
}

// placeholder color
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $grey-light;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $grey-light;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $grey-light;
}

// BUTTONS
button {
	color: inherit;
	background-color: inherit;

  &:focus {
    outline: none;
  }
}

.btn {
  border: none;
  padding: .5em 1em;
  height: 60px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  font-weight: $semi-bold;

  @media (max-width: 991.98px) {
    height: 43px;
    padding: 0 1em;
  }

  &.btn-primary {
    background-color: $turquoise;

    &:hover {
      background-color: darken($turquoise, 3%);
    }
  }

  &.btn-secondary {
    color: $navy;
    background-color: transparent;
    border: 1px solid $navy;

    &:hover {
      background-color: #1b254f1a;
    }

    &--white {
      background-color: transparent;
      color: $white;
      border-color: $white;
      width: auto;
      padding: .5em 1em;
    }

    &--no-border {
      border: none;
    }

    &--xs {
      margin: auto;
      width: auto;
      padding: 0 1em;
      display: block;
      height: 30px;
      font-size: 14px;
      font-weight: $regular;
    }
  }

  &--sm {
    margin: auto;
    width: auto;
    padding: .5em 3em;
    display: block;
    height: 43px;
  }

  &--md {
    margin: auto;
    width: auto;
    padding: .5em 5em;
    display: block;
    height: 43px;

    @media (max-width: 991.98px) {
      width: 100%;
    }
  }
}

// LISTS
ul {
  list-style-type: none;
  margin-bottom: 0;

  @media (min-width: 992px) {
    font-size: 18px;
  }

  &.black {
    color: black;
  }
}

.list {
  &__item:not(:last-child) {
    margin-bottom: 10px;

    @media (min-width: 992px) {
      margin-bottom: 15px;
    }
  }
}

.breadcrumb {
  padding: 15px 0 0 0;
  font-size: 16px;
  background-color: transparent;
  color: $grey-light;

  @media (max-width: 991.98px) {
    font-size: 14px;
  }

  &__item {
    &:not(:first-child) {
      &:before {
        content: '>';
        margin: 0 5px;
      }
    }
  }
}

// ACCORDEON
.accordeon {
  @media (max-width: 991.98px) {
    margin: 0 -15px;
  }

  &__section {
    border-top: 1px solid $grey-light;

    &--active {
      .accordeon__header {
        box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2);
      }

      .accordeon__title {
        font-weight: $semi-bold;
      }
    }
  }

  &__extra-p {
    padding: 0 80px;

    @media (max-width: 991.98px) {
      padding: 0 10px;
    }
  }

  &__header {
    padding: 20px;
    position: relative;

    @media (max-width: 991.98px) {
      padding: 10px;
    }
  }

  &__title {
    font-size: 20px;

    @media (max-width: 991.98px) {
      font-size: 18px;
    }
  }

  &__body {
    background-color: $blue-light;
    padding: 30px;

    @media (max-width: 991.98px) {
      padding: 20px;
    }
  }

  &__opinion  {
    padding: 30px 100px;
  }

  &__percent {
    position: relative;
    top: -10px;
  }
}

// FILTER
.filter {
	cursor: pointer;
	background-color: $white;
  box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.2), 0 2px 2px 0 rgba(50, 50, 50, 0.2);
  height: 40px;
  border-radius: 40px;
  padding: 0px 20px;
  font-size: 20px;
	margin-right: 20px;
	width: auto;
}

//ICON
.icon-xs {
  height: 5px;
}

.icon-sm {
  height: 13px;
}

.icon-md {
  height: 20px;
}

.icon-lg {
  height: 40px;
}

// DATEPICKER
.datepicker {
  width: 100%;
  text-align: center;

  & > .flex-column {
    flex-grow: 1;

    &:not(:first-of-type) {
      background-image: linear-gradient(to bottom, $grey 20%, rgba(255, 255, 255, 0) 0%);
      background-position: left;
      background-size: 1px 5px;
      background-repeat: repeat-y;
    }
  }

  &__day {
    padding: 10px 0;
    text-align: center;
    background-image: linear-gradient(to right, $grey 20%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;

    &--grey {
      color: $grey-light;
    }
  }

  &__hour {
    border: solid 1px $navy;
    padding: 8px 12px;
    margin: 5px 5px 0;

    @media (max-width: 991.98px) {
      color: $white;
      border: none;
      background-color: $turquoise;
    }

    &--active {
      background-color: $navy;
      color: $white;
    }
  }
}

// TAG
.tag {
  border-radius: 3px;
  padding: 4px 7px;
  background-color: $blue-light;
  margin-right: 3px;
  font-size: 16px;

  @media (max-width: 991.98px) {
    font-size: 14px;
  }

  &--avatar {
    background-color: $navy;
    color: $white;
    position: relative;
    top: -7px;
  }

  &--lg {
    padding: 5px 15px;
    margin: 0 10px 10px 0;

    @media (max-width: 991.98px) {
      padding: 4px 7px;
      margin: 0 5px 5px 0;
    }
  }

  &--blue {
    background-color: $navy;
    color: $white;
  }

  &--white {
    background-color: $white;
  }

  &--gold {
    background-color: $gold;
    color: $white;
    display: inline-block;
  }

  &--border {
    background-color: $white;
    border: 1px solid $navy;
  }
}

// POPIN
.popin-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 60, 97, 0.7);
}

.popin {
  position: relative;
  margin: auto;
  max-width: 600px;
  background-color: $white;
  box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.2), 0 2px 2px 0 rgba(50, 50, 50, 0.2);
  padding: 20px;
  margin-top: 100px;
  max-height: calc(100vh - 115px);
  overflow-y: scroll;

  @media (max-width: 991.98px) {
    padding: 10px;
    margin-top: 15px;
    max-height: calc(100vh - 30px);
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 20px;
  }
}

// LINKS
a {
  color: inherit;
  display: block;

  &:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }

  &.navy {
    color: $navy;
  }

  &.underlined {
    text-decoration: underline;
  }
}
