.card {
  box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.2), 0 2px 2px 0 rgba(50, 50, 50, 0.2);
  margin-bottom: 15px;

  &__header {
    padding: 10px 20px;
    background-color: $turquoise-light;
  }

  &__body {
    padding: 15px;
  }

  &__name {
    color: $navy;
    font-weight: $semi-bold;

    @media (max-width: 991.98px) {
      font-size: 16px;
    }
  }

  &__practic {
    color: $grey-light;
    font-size: 14px;

    @media (min-width: 992px) {
      font-size: 16px;
    }
  }

  &__footer {
    @media (max-width: 991.98px) {
      font-size: 16px;
    }
  }

  &__link {
    background-image: linear-gradient(to right, $turquoise 20%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    padding: 15px;
    background-color: $turquoise-light;

    &__text {
      font-size: 16px;
      color: $navy;

      @media (max-width: 991.98px) {
        font-size: 14px;
      }
    }

    &__icon {
      height: 10px;

      @media (min-width: 992px) {
        height: 20px;
      }
    }
  }

  &--map {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    margin-bottom: 0;
  }
}

.avatar {
  &__img {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background-image: url("assets/imgs/avatar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--sm {
      width: 40px;
      height: 40px;
    }

    &--lg {
      width: 174px;
      height: 174px;

      @media (max-width: 991.98px) {
        width: 90px;
        height: 90px;
      }
    }
  }
}

.place-card {
  box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.2), 0 2px 2px 0 rgba(50, 50, 50, 0.2);
  margin-bottom: 15px;
	background-color: $white;
	border-radius: 5px;

  &__container {
    display: flex;
    flex-direction: row;

    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }

  &__map {
    width: 160px;
    height: 190px;

    @media (max-width: 991.98px) {
      width: 100%;
      height: 80px;
    }
	}
	
	&__title {
		font-size: 18px !important;
	}

  &__text {
    font-size: 18px;

    @media (max-width: 991.98px) {
      font-size: 16px;
    }
  }

  &__info {
		padding: 15px;
		flex-grow: 1;
		
		@media (max-width: 991.98px) {
      padding: 10px;
    }

    &__icon {
      flex-basis: 30px;
    }
  }
}
