.element-container {
  margin: 0 -10px;
  flex-wrap: wrap;

  @media (max-width: 991.98px) {
    margin: 0 -15px;
    padding: 0 10px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding: 0 10px;

    // fix nowrap flexbox elements right padding
    &:after {
      content: "";
      flex: 0 0 10px;
    }
  }

  &--scroll-x {
    @media (max-width: 991.98px) {
      overflow-x: scroll;
      flex-wrap: nowrap;
			padding: 0 10px;

      // fix nowrap flexbox elements right padding
      &:after {
        content: "";
        flex: 0 0 10px;
      }
		}
		
		@media (min-width: 576px) and (max-width: 991.98px) {
			flex-wrap: wrap;
		}
  }
}

.element {
  box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.2), 0 2px 2px 0 rgba(50, 50, 50, 0.2);
  border-radius: 3px;
  color: $navy;

  &__problem {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.91), rgba(255, 255, 255, 0)), url("assets/imgs/media.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120px;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;

    @media (min-width: 992px) {
      padding: 10px;
      height: 190px;
      margin-bottom: 20px;
    }

    &--thin {
			height: 100px;
			
      @media (max-width: 991.98px) {
        height: 70px;
      }
    }

    &__title {
      font-size: 16px;
      font-weight: $semi-bold;

      @media (min-width: 992px) {
        font-size: 22px;
      }
    }

    &__action {
      text-align: right;
      color: $white;
      font-size: 12px;

      @media (min-width: 992px) {
        font-size: 16px;
      }

      &__icon {
        margin-left: 3px;
      }
    }
  }

  &__practice-container {
    @media (min-width: 575px) {
      flex: 0 0 25%;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
		}

		@media (min-width: 575px) and (max-width: 992px) {
			padding: 0 5px;
			margin-bottom: 10px;
		}
		
		@media (min-width: 575px) and (max-width: 768px) {
      flex: 0 0 50%;
		}

    @media (max-width: 575px) {
      flex: 0 0 140px;
      margin: 5px;
    }
  }

  &__practice {
    &__header {
      background-color: $white;
      padding: 5px;

      @media (min-width: 992px) {
        padding: 20px;
      }
    }

    &__type {
      font-size: 12px;
      line-height: 13px;

      @media (min-width: 992px) {
        font-size: 16px;
        margin-bottom: 7px;
      }
    }

    &__title {
      font-size: 16px;
      font-weight: $semi-bold;

      @media (min-width: 992px) {
        font-size: 20px;
      }
    }

    &__body {
      height: 130px;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center !important;

      @media (min-width: 992px) {
        height: 240px;
      }
    }
  }

  &__comment {
    height: 200px;
    padding: 10px;
    flex: 0 0 140px;
    margin: 5px;
    border-top: 3px solid $navy;

    @media (min-width: 992px) {
      flex: 0 0 170px;
		}
		
		@media (min-width: 575px) and (max-width: 992px) {
			flex: 0 0 23%;
		}

    &__person {
      font-size: 14px;
      font-weight: $semi-bold;
      line-height: 14px;

      @media (min-width: 992px) {
        font-size: 16px;
      }
    }

    &__timeago {
      font-size: 12px;
      color: $grey;
      margin-bottom: 10px;

      @media (min-width: 992px) {
        font-size: 14px;
      }
    }

    &__text {
      font-size: 14px;
      font-style: italic;
      line-height: 15px;

      @media (min-width: 992px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &__card {
    height: 160px;
    padding: 10px;
    flex: 0 0 175px;
    margin: 10px;

    @media (max-width: 991.98px) {
      height: 125px;
      flex: 0 0 140px;
      flex-wrap: nowrap;
      margin: 5px;
    }

    &__header {
      padding: 10px;
      background-color: $navy;
      color: $white;
    }

    &__title {
      font-size: 20px;

      @media (max-width: 991.98px) {
        font-size: 18px;
        line-height: 1.22;
      }
    }

    &__body {
      padding: 10px;
    }

    &__like {
      font-size: 16px;
      color: $grey;

      @media (max-width: 991.98px) {
        font-size: 14px;
      }
    }

    &__text {
      text-align: left;

      @media (max-width: 991.98px) {
        font-size: 16px;
      }
    }

    &--blueHeader {
      padding: 0;
      overflow: hidden;
      height: 220px;
    }
  }
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2);
}
