.header {
  padding: 10px 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

  &__logo {
    height: 33px;
  }

  &__menu-btn {
    z-index: 1;
  }

  &__icon {
    &__menu {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    &__account {
      margin-bottom: -2px;
    }
  }

  &__menu {
    position: relative;
    top: 0px;
    background-color: white;

    &:before {
      content: '';
      width: 55px;
      height: 60px;
      background-color: $white;
      position: absolute;
      top: -57px;
      box-shadow: 5px 0px 4px -4px rgba(0, 0, 0, 0.2);
    }

    &__list {
      padding-left: 10px;
    }
  }

  &__desktop {
    padding: 10px 0;

    &__logo {
      width: 200px;
      margin-right: 30px;
    }

    &__menu {
      position: relative;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;

      &__item {
        margin-right: 40px;
      }

      &__btn {
        padding: .5em 1em;
        height: auto;
        font-weight: $regular !important;
      }

      &__acount {
        background-color: $white;
        color: $navy;
        padding: 30px;
        position: absolute;
        top: 65px;
        right: 0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

        &:before {
          content: '';
          position: absolute;
          right: 25px;
          height: 0px;
          top: -20px;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid $white;
        }

        .list {
          font-size: 16px;
        }
      }
    }
  }
}
