// COLORS
$gold: #e3ae42;
$champagne: #f5ead4;
$turquoise: #00d3d4;
$turquoise-light: #f2fbfb;
$navy: #223c61;
$blue-light: #ecf1f4;
$anthracite: #323232;
$grey: #a9b6bc;
$grey-light:#cbd1d4;
$grey-dark: #565656;
$white: #fff;
$green: #97de53;
$yellow: #edc04f;

// FONTS
$regular: 400;
$semi-bold: 600;